/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 1000 */
/*
.mulish-<uniquifier> {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

body {
    font-family: "Mulish", sans-serif;
}

/*
[#1C282E]
[#273F4B]
[#2B4C5D]
[#6A8595]
[#A1AFBA]
[#CCD3D9]
*/