body {
    font-family: "Mulish", sans-serif;
}

.m7w29c {
    display: none !important;
}

.o3Dpx {
    margin-top: 15px !important;
}

/*
[#1C282E]
[#273F4B]
[#2B4C5D]
[#6A8595]
[#A1AFBA]
[#CCD3D9]
*/